@{
    ViewData["Title"] = "Magazyn";
}

<h2>🏬 Moduł magazynowy</h2>
<p>Tu w przyszłości będzie zarządzanie stanem magazynowym i PZ/WZ.</p>
<a asp-controller="Home" asp-action="Index">⬅️ Powrót do menu głównego</a>
