@model Customer

<form asp-action="Create">
    <label>Nazwa</label>
    <input asp-for="Name" />
    <label>NIP</label>
    <input asp-for="TaxId" />
    <label>Adres</label>
    <input asp-for="Address" />
    <label>Kontakt</label>
    <input asp-for="Contact" />
    <button type="submit">Zapisz</button>
</form>
