@{
    ViewData["Title"] = "Użytkownicy i role";
}

<h2>👤 Moduł zarządzania użytkownikami</h2>
<p>Tu w przyszłości będzie zarządzanie kontami i rolami użytkowników.</p>
<a asp-controller="Home" asp-action="Index">⬅️ Powrót do menu głównego</a>
